<header>
    <div class="header-logo">
        <a href="/">Make It A Habit</a>
    </div>
    <ul class="header-menus">
        <li>
            <a href="/about">Make It A Habitとは</a>
        </li>
    </ul>
</header>

<div calss="main top-main">
    <div class="top-message">
        <h1>習慣づくりで人生を変えませんか？</h1>
        <p>習慣をつくるのに強い意志力は必要ありません。テクニックです。</p>
        <p>さぁ、今日からあなたの人生を変えていってください。</p>
    </div>
</div>
